<h1>Lista tekstova</h1>
 
<%= link_to 'Novi tekst', new_article_path %>


<table>
  <tr>
    <th>Naslov</th>
    <th>&nbsp</th>
    <th>Tekst</th>
    <th>&nbsp</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td>&nbsp</td>
      <td><%= article.text %></td>
      <td>&nbsp</td>
      <td><%= link_to 'Prikaži', article_path(article) %></td>
      <td>&nbsp</td>
      <td><%= link_to 'Uredi', edit_article_path(article) %></td>
      <td>&nbsp</td>
      <td><%= link_to 'Izbriši', article_path(article),
              method: :delete,
              data: { confirm: 'Jeste li sigurni?' } %></td>
      <td>&nbsp</td>
    </tr>
  <% end %>
</table>
