<div class="row">
    <div class="col-3">

        <div class="card">
            <!--<img class="card-img-top" src="zdravljelogo.png" height="20px" width="20px" alt="Zdravlje">-->
                <div class="card-body row">
                    <div class="col-sm-12">
                        <img class="img-responsive" src="/zdravljelogo.png" alt="Zdravlje" style="width:100%; height:100%">
                    </div>
                    <!--<div class="col-sm-10">
                        <h4 style="margin-left:20px;"><%= current_user.username %></h4>
                    </div>-->
                    <div class="col-sm-12 row" style="margin-top: 10px;">
                        <!--<div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">POSTS<br>
                            <h6 style="color:#0084B4; font-size: 200%;"><%= current_user.posts.count %></h6>
                        </div>
                        <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">FOLLOWERS<br>
                            <h6 style="color:#0084B4; font-size: 200%;"><%= current_user.followers.count %></h6>
                        </div>-->
                        <div class="col-sm-12"><h5>Administracija stranice</h5>
                        </div>
                    </div>
                </div>
        
    </div>
</div>
<div class="col-6">
    
    <%= render'/posts/post_form' %><% if user_signed_in? %> <br> <%end%> <br>

    <% for @p in @posts %>
    <div class="card mb-3 row">

         <div class="card-header   col-sm-12">
        <!--<div class="col-sm-3">
            <img src="/zdravljelogo.png" class="rounded-img" height="40px" width="100px"></img>
        </div>-->

            <h3 class="post-title" style="color:black"><%= @p.naslov %></h3>
        
        </div>

        <div class="card-body">
       
            <!--<div class="col-sm-1">
            <img src="/Twitter.png" class="rounded-img" height="50px" width="50px"></img>
            </div>-->
            <div class="col-sm-12">
            <p class="post-title"><span class="post-owner"><%= User.find(@p.user_id).username %></span> <span class="post-creation">- <%= @p.created_at.to_formatted_s(:short) %></span></p>
            <p class="post-content"><%= @p.content %></p>
            </div>
            <div class="col-sm-12">
            <p class="post.links">
            
            <!--<span class="o-icon"><%= octicon "reply" %> </span>
            <span class="o-icon"><%= octicon "git-compare" %> </span>
            <span class="o-icon"><%= octicon "heart" %> </span>
            <span class="o-icon"><%= octicon "kebab-horizontal" %> </span>-->
        
            
            </p>
            </div>
        </div>
    </div>
    <% end %>

    <div class="card row">
        <div class="card-body">
            <div class="col-sm-12">
            <!--<center><img src="/Twitter.png" height="25px" width="25px"></img>-->
            <center><a href="#top"><p class="opacity: .7;">Vrati se na vrh <%= octicon "arrow-up" %></p></a></center>
            </div>
        </div>
    </div>

</div>
<div class="col-3">

     <div class="card">
        <div class="card-body">
        <h6>Dodavanje novih proizvoda</h6>
        <span class="btn btn-submit" ><%= link_to 'Novi proizvod', new_item_path, class: "btn btn-primary" %></span>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
        <h6>Uređivanje postova</h6>
        <span class="btn btn-submit" ><%= link_to 'Uredi', posts_path, class: "btn btn-primary" %></span>
        </div>
    </div>

    </div>
</div>