<div class="row">
    <div class="col-3">

        <div class="card">
            <div class="card-body">
                <h5 style="color: grey; font-size: 125%">Istraži</h5>
                <p style="opacity: 0.5; font-size: 90%;">
                This page aggregates posts from ALL users. This means that you can find new people to follow,
                and your posts also appear here so other people can see your posts and follow you
                if they chose.
                </p>
            </div>
        </div>
        <div class="card">
                <div class="card-body">
                    <h5 style="color:grey; font size: 125%;">Trends</h5>
                    <a href="">#Trend #1</a><br>
                        <span style="color: grey;">31k Posts</span><br><br>
                    <a href="">#Trend #1</a><br>
                        <span style="color: grey;">25k Posts</span><br><br>
                    <a href="">#Trend #1</a><br>
                        <span style="color: grey;">16k Posts</span><br><br>
                </div>
    </div>
</div>
<div class="col-6">
    
    <%= render'/posts/post_form' %><% if user_signed_in? %> <br> <%end%> <br>

    <% for @p in @posts %>
    <div class="card">
        <div class="card-body row">
       
            <div class="col-sm-1">
            <img src="/Twitter.png" class="rounded-img" height="50px" width="50px"></img>
            </div>
            <div class="col-sm-11">
            <p class="post-title"><span class="post-owner"><%= User.find(@p.user_id).username %></span> <span class="post-creation">- <%= @p.created_at.to_formatted_s(:short) %></span></p>
            <p class="post-content"><%= @p.content %></p>
            </div>
            <div class="col-sm-12">
            <p class="post.links">
            
            <span class="o-icon"><%= octicon "reply" %> </span>
            <span class="o-icon"><%= octicon "git-compare" %> </span>
            <span class="o-icon"><%= octicon "heart" %> </span>
            <span class="o-icon"><%= octicon "kebab-horizontal" %> </span>
            <a href="">Vidi razgovor</a>
            
            </p>
            </div>
        </div>
    </div>
    <% end %>

    <div class="card">
        <div class="card-body row">
            <div class="col-sm-12">
            <center><img src="/Twitter.png" height="25px" width="25px"></img>
            <a href="#top"><p class="opacity: .7;">Vrati se na vrh <%= octicon "arrow-up" %></p></a></center>
            </div>
        </div>
    </div>

</div>
<div class="col-3">

     <div class="card">
        <div class="card-body">
        <h5 style="color: grey; font-size: 125%">who to follow</h5>
        <% for @u in @toFollow do %>
            <p style="font-weight: bold; opacity: 0.85;"><a href="/user/<%= @u.username %>"><%= @u.username %></a></p>
            <%end%>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
        <p style="opacity: 0.5; font-size: 90%;">© 2018 Zdravlje About Help Center Terms Privacy policy Cookies Ads info Brand Blog Status Apps Jobs Marketing Businesses Developers</p>
        </div>
    </div>

    </div>
</div>