<% if !user_signed_in?    #if the user is not signed in, render this %>
<style>
html { /*html tag replaced with body tag*/
    background:linear-gradient(/*somewhat transparent film on top of the BG to make it look darker.*/
        rgba(255, 255, 255, 0.90),
        rgba(0,0,0, 0.5)),url("first_image.jpg") no-repeat center center fixed;
    /*only display once, center horizontal and vertical, dont let scroll change position.*/
    
    -webkit-background-size: cover;
    -moz-background-size: cover; /*cover the whole html element*/
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color:white;
    font-weight:bold;
}

.container-index {
    margin-right:15%;
    margin-left:15%;
}

.text {
    color:white;
    font-weight:300;
    font-size:150%;
}

.footer-links {
    text-align:center;
    color: white;
    margin-top:100%;
    font-size:75%;
}

.log-in {
    float: right;
    width: 300px;
    height: 150px;
    margin-top:7.5%;
}

.sign-up {
    float: right;
    width: 300px;
    height: 250px;
}
</style>




<div class="row">

    <!--<div class="col">
        <div class="col-sm-12" style="margin-top: -70px">
            <img src="/zdravljelogo.png" height="50px" widht="100px" class="rounded-img">
        </div>
        <div class="col-sm-12">
        <h3 style="font-weight: bold;"><%= params[:id] %></h3>
        <p>
        Zdrava ishrana, prirodni sokovi i svježe voće i povrće.
        </p>
        </div>
    </div>-->

    <div class="col-3">
        <div class="card">
            <!--<img class="card-img-top" src="zdravljelogo.png" height="20px" width="20px" alt="Zdravlje">-->
                <div class="card-body row">
                    <div class="col-sm-12">
                        <img class="img-responsive" src="/zdravljelogo.png" alt="Zdravlje" style="width:100%; height:100%">
                    </div>
                    <!--<div class="col-sm-10">
                        <h4 style="margin-left:20px;"> current_user.username ></h4>
                    </div>-->
                    <div class="col-sm-12 row" style="margin-top: 10px;">
                        <!--<div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">POSTS<br>
                            <h6 style="color:#0084B4; font-size: 200%;"> current_user.posts.count </h6>
                        </div>
                        <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">FOLLOWERS<br>
                            <h6 style="color:#0084B4; font-size: 200%;"> current_user.followers.count </h6>
                        </div>-->
                        <div class="col-sm-12" style="font-size: 90%; opacity: 0.7;">Prirodni sokovi, svježe voće i povrće.
                        </div>
                    </div>
                </div>
        </div>
        <div class="card">
                <div class="card-body">
                    <p style="color:grey; font size: 90%;">Pored vlastitog proizvoda soka od aronije, 
                    nudimo razne vrste voća i povrća, sa posebnim naglaskom na domaće proizvode. Svi proizvodi su visoke kvalitete i organski uzgojeni.<br>
                    Nudimo mogućnost <a href="/items">Online kupovine</a> i dostave na kućnu adresu</p>
                    <hr>
                    <p>Nalazimo se u ulici<br>
                    Bulevar Meše Selimovića bb<br>
                    Kontakt telefon:<br>
                    033 000 000
                    </p>
                    
                </div>
            </div>
    </div>

    <div class="col-6">
        <%= render'/posts/post_form' %><% if user_signed_in? %>  <%end%> 
    

    <% for @p in @posts %>
    <div class="card mb-3 row">

        <div class="card-header col-sm-12">
        <!--<div class="col-sm-3">
            <img src="/zdravljelogo.png" class="rounded-img" height="40px" width="100px"></img>
        </div>-->
        
        
            <h3 class="post-title" style="color:black"><%= @p.naslov %></h3>
        
        </div>

        <div class="card-body row">
       
            <div class="col-sm-12">
            <p class="post-title"><span class="post-owner"><%= User.find(@p.user_id).username %></span> <span class="post-creation"> - <%= @p.created_at.to_formatted_s(:short) %></span></p>
            <p class="card-text"><%= @p.content %></p>
            </div>

            <div class="col-sm-12">
            <p class="post.links">
            
            <!--<span class="o-icon"><%= octicon "reply" %> </span>
            <span class="o-icon"><%= octicon "git-compare" %> </span>
            <span class="o-icon"><%= octicon "heart" %> </span>
            <span class="o-icon"><%= octicon "kebab-horizontal" %> </span>-->
            
            <!--<a href="" style="float: right"></a>-->
            
            
            </p>
            </div>
        </div>
        </div>
        <% end %>
    
    <div class="card row">
        <div class="digg_pagination">
            <%= will_paginate @posts, :container => false %>
        </div>
    </div>
   
    <div class="card row">
        <div class="card-body">
            <div class="col-sm-12">
            <!--<center><img src="/Twitter.png" height="25px" width="25px"></img>-->
            <div style="text-align: center; opacity: .7">© Zdravlje 2018</div>
            <center>
                <br>
                
                <a href="http://www.facebook.com"><img src="/Facebook.png" style="width:32px; height:32px" alt="Facebook"></a>
                <a href="http://www.twitter.com"><img src="/Twitter.png" style="width:32px; height:32px" alt="Twitter"></a>
                <br>
                <hr>
            <a href="#top"><p class="opacity: .7;">Vrati se na vrh <%= octicon "arrow-up" %></p></a></center>
            </div>
        </div>
    </div>
</div>


<div class="col-3">
        
        <div class="card">
                <div class="card-body">
                    <a href="/items"><h5 style="color:grey; font size: 125%;">Sok od aronije</h5></a>
                    <p><img class="img-responsive" src="second_image.jpg" alt="Sok od aronije" style="float:left; width:20%; height:20%; margin-right:1em"></p>
                    <p style="opacity: .7; font-size: 80%;">Kvalitet i pozitivna dejstva soka od aronije su dokazana u mnogim medicinskim studijama. 
                    Ljekoviti plodovi aronije smatraju se pravim čudom prirode. Biljka se uzgaja potpuno organski, 
                    tako da prilikom konzumiranja našeg soka od aronije možete biti potpuno sigurni da pijete prirodan sok. 
                    Nema štetnih pesticida koji se u današnjoj industriji itekako koriste. Aronija nije zahtjevna za uzgoj, 
                    a zbog svoje izuzetne ljekovitosti u nekim dijelovima svijeta svrstava se u ljekovito bilje. 
                    Dostupna je tri mjeseca u toku godine, a njen sok je zdraviji od sličnih proizvoda poput soka od borovnice, maline ili nara.
					</p>
                </div>
        </div>
    </div>
</div>




<!--<div class="container-index row">
    <div class="col-sm-6">
        <h1>Zdrava Hrana!</h1>

        <p class="text">
        Prirodni sokovi. Zdrava hrana<br> Svježe voće i povrće. Domaći proizvodi.
        </p>
    </div>
    <div class="col-sm-6">
        <div class="card log-in">
            Prijavi se
        </div>
        <div class="card mt-3 sign-up">
            Registracija
        </div>
    </div>

    <div class="col-sm-12">
        <p class="footer-links">
            © 2018 Zdravlje
        </p>
    </div>
</div>-->

<% else   #if the user is IS signed in, render this %>

<script>document.location="/home"</script>

<%end%>
