
<p>
  <strong>Naslov:</strong>
  <%= @p.naslov %>
</p>
 
<p>
  <strong>Tekst:</strong>
  <%= @p.content %>
</p>

<h2>Komentari</h2>
<%= render @p.komentars %>

<h2>Dodaj komentar:</h2>
<%= render 'komentars/form' %>
 
<!--<%= link_to 'Uredi', edit_article_path(@article) %> |
<%= link_to 'Nazad', articles_path %>-->