<% if user_signed_in? %>
<div class="card post-form-card row">
        <div class="card-body">
       
            <!--<div class="col-sm-1">
            <img src="/zdravljelogo.png" class="rounded-img" height="16px" width="42px"></img>
            </div>-->
            <div class="col-sm-12">
           
            <%= form_for(@newPost) do |f| %>

  <div class="field" style="margin-left: 10px;">

    <p>
    <%= f.label :naslov %> <br />
    <%= f.text_field :naslov %>
    </p>

    <%= f.text_area :content, autofocus: true, class: "form-control" %>
    <span class="btn btn-submit" style="float: right; margin-top: 3px;"><%= f.submit "Dodaj tekst", class: "btn btn-primary" %></span>
  </div>
<% end %>
            
        </div>
    </div>
</div>
<%end%>




