



<div class="row">
    <div class="col-3">

        <div class="card">
            <!--<img class="card-img-top" src="zdravljelogo.png" height="20px" width="20px" alt="Zdravlje">-->
                <div class="card-body row">
                    <div class="col-sm-12">
                        <img class="img-responsive" src="/zdravljelogo.png" alt="Zdravlje" style="width:100%; height:100%">
                    </div>
                    <!--<div class="col-sm-10">
                        <h4 style="margin-left:20px;"><%= current_user.username %></h4>
                    </div>-->
                    <div class="col-sm-12 row" style="margin-top: 10px;">
                        <!--<div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">POSTS<br>
                            <h6 style="color:#0084B4; font-size: 200%;"><%= current_user.posts.count %></h6>
                        </div>
                        <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">FOLLOWERS<br>
                            <h6 style="color:#0084B4; font-size: 200%;"><%= current_user.followers.count %></h6>
                        </div>-->
                        <div class="col-sm-12"><h5>Administracija stranice</h5>
                        </div>
                    </div>
                </div>
        
    </div>
</div>
<div class="col-6">




<h3>Lista postova</h3>
 
<h5><%= link_to 'Kreiraj novi post', new_post_path %></h5>



  <% @posts.each do |post| %>
    <div class="card mb-3 row">
      
      <div class="card-header   col-sm-12">
      <h5><%= post.naslov %></h5>
      </div>

      <div class="card-body">
      <p><%= post.content %></p>
      <span style="float:right;">
      <%= link_to 'Prikaži', post_path(post) %>
      <td>&nbsp</td>
      <%= link_to 'Uredi', edit_post_path(post) %>
      <td>&nbsp</td>
      <%= link_to 'Izbriši', post_path(post),
              method: :delete,
              data: { confirm: 'Jeste li sigurni?' } %></span>
      </div>
    
    </div>
  <% end %>





</div>

