
<div class="row">
<div class="col-12">
<div class="card mb-3 row">
<div class="card-header   col-sm-12">
  <p><strong>Naslov:</strong></p>
  <%= @post.naslov %>
</div>

 <div class="card-body">
  <p><strong>Tekst:</strong></p>
 
  
  <p><%= @post.content %></p>
  
  


<!--<h2>Komentari</h2>
<%= render @post.komentars %>

<h2>Dodaj komentar:</h2>
<%= render 'komentars/form' %>-->
 
<span style="float:right;"><%= link_to 'Uredi', edit_post_path(@post) %>
&nbsp
<%= link_to 'Nazad', posts_path %></span>
</div>
</div>
</div>
</div>