
<p>
  <strong>Naslov:</strong>
  <%= @post.naslov %>
</p>
 
<p>
  <strong>Tekst:</strong>
  <%= @post.content %>
</p>

<h2>Komentari</h2>
<%= render @post.komentars %>

<h2>Dodaj komentar:</h2>
<%= render 'komentars/komentar' %>
 
<!--<%= link_to 'Uredi', edit_article_path(@article) %> |
<%= link_to 'Nazad', articles_path %>-->